//-<Шрифты по умолчанию>=================================================
$font-family: "Proxi_B", "arial";
//-</Шрифты по умолчанию>================================================

//-<ПЕРЕМЕННЫЕ>==================================================================
$maxWidth: 1340;
$minWidth: 320;
$maxWidthContainer: 1245;
//-<ПЕРЕМЕННЫЕ>==================================================================

//-<BREAKPOINTS>-================================================================
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//-</BREAKPOINTS>-=============================================================================

//<Custom BREAKPOINTS>====================================================================================================================================

//</Custom BREAKPOINTS>====================================================================================================================================