//<Обнуление файлов / импорт переменных>====================================================================================================================================
@import "_nullStyle";
@import "_variables";
//<Обнуление файлов / импорт переменных>====================================================================================================================================

//-<Подключаем файлы стилей>==============================================================
@import "main-page";
//@import "_footer";
//@import "_home";
//@import "_forms";
//@import "_UI";
//-</Подключаем файлы стилей>==============================================================

//<Подключаем шрифты>=================================================================================================
//--&display=swap - оптимизация латиницы
//--&subset=cyrillic-ext - оптимизация кирилици
@import "fonts"; //ипорт локально
//@import url() - импорт ссылкой
//</Подключаем шрифты>=================================================================================================

//-<Иконочные шрифты>-==============================================================
//@import ""; //скомпилированный фал был добавлен в папку после скачивания и удаления лишего
//-</Иконочные шрифты>-==============================================================

//-<Обнуление общиих параметров>-===================================================
body {
     font-family: $font-family;
     color: #000;
     font-size: 14px;

     &._lock {
          overflow: hidden;
     }
}

//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
     display: flex;
     flex-direction: column;
     min-height: 100%;
     width: 100%;
}

//---------------------------------------
._container {
     max-width: $maxWidthContainer + px;
     margin: 50px auto;
     padding: 0 10px;

     // @media (max-width: $md1+px) {
     // 	max-width: 970px;
     // }

     // @media(max-width: $md2+px) {
     // 	max-width: 750px;
     // }

     // @media(max-width: $md3+px) {
     // 	max-width: none;
     // 	padding: 0 10px;
     // }
}

._container-cart {
     max-width: 831px;
     margin: 0 auto;
     padding: 0 10px;
}

._container-emptyCart {
     max-width: 560px;
     margin: 0 auto;
     padding: 0 10px;
}

//</Wrapper и Ограничивающий контейнер>========================================================================


//-<Основная сетка>==================================================================
.page {
     color: #181818;
     font-size: 16px;

     &__filter-row {
          margin: 50px 0 0 0;
     }

     &__title-pizza {
          margin: 30px 0 35px 0;
          font-size: 32px;
          letter-spacing: 0.01em;
     }

     &__pizza-grid {
          padding: 0px 0px 90px 0px;
     }

     //==========Cart page========================================================================

     &__cart-row {}

     &__product-component {}

     &__payment-info {}

     &__actions-btns {}

     &__content-empty {
          margin: 160px 0px 0px 0px;
          padding: 0px 0px 50px 0px;
     }
}

//-<Основная сетка>==================================================================